*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.a1a{
    width: 100%;
    height: 64px;
    background-color:white;
}
.block1{
    width: 100%;
    background-image: url(../img/bootsek1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
.navbar{
    padding: 34px;
    overflow-y: hidden;
}
.navbar .logo{
    width: 300px;
    margin-left: 56px;
    float: left;
    font-size: 24px;
    color: yellow;
}
.navbar .nav{
    margin-right: 56px;
    float: right;
}
.navbar .nav a{
    text-decoration: none;
    text-align: center;
    padding: 0px 14px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}
.navbar .nav a:hover{
    color: #FFC800;
}


.portfo{
    width: 100%;
    padding: 180px 0px 180px 0px;
}
.portfo .center{
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}
.portfo .center h2{
    font-size: 36px;
    margin: 0px 0px 16px;
    color: #FFFFFF;
}
.portfo .center h1{
    font-size: 72px;
    margin: 0px 0px 88px 0px;
    color: #FFFFFF;
}
.portfo .center a{
    text-decoration: none;
    text-align: center;
    background-color: #FFC800;
    color: #FFFFFF;
    padding: 24px 40px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 6px;
    transition: 0.3s;
}
.portfo .center a:hover{
    opacity: 0.8;
}


.block2{
    width: 100%;
    text-align: center;
    padding: 100px 0px 146px 0px;
    overflow: hidden;
}
.block2 h2{
    font-size: 40px;
    color: #202529;
    margin-bottom: 16px;
}
.block2 h3{
    font-size: 17px;
    color: #6C757D;
    margin-bottom: 64px;
    letter-spacing: 1px;
}
.block2 .tree{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.block2 .tree .one{
    width: 32.2%;
    margin-left: 0.9%;
    float: left;
}
.block2 .tree .one h4{
    font-size: 24px;
    margin: 16px 0px;
}
.block2 .tree .one p{
    font-size: 17px;
    color: #6C757D;
    margin-top: 16px;
    padding: 0px 4px;
    letter-spacing: 0.6px;
}
.block2 .tree i{
    background-color: #FFC800;
    color: #FFFFFF;
    width: 130px;
    height: 130px;
    padding: 36px 20px;
    font-size: 60px;
    border-radius: 100%;
}


.block3{
    background-color: #F8F9FA;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 100px 0px 80px 0px;
}
.block3 h2{
    font-size:40px;
    margin-bottom:16px;
}
.block3 h3{
    font-size:16px;
    margin-bottom:64px;
}
.block3 .six{
    width: 1344px;
    margin: auto;
    overflow: hidden;

}
.block3 .six .box{
    background-color: #FFFFFF;
    width: 420px;
    margin-left: 20px;
    float: left;
    margin-bottom: 20px;
}
.block3 .six .box .top{
    width: 100%;
} 
.top img{
    width: 100%;
    height: 314px;
}
.bottom{
    width: 100%;
    padding: 24px;
}
.bottom h4{
    font-size: 24px;
}
.bottom p{
    font-size: 16px;
    color: #6C757D;
}


.block4{
    background-color: #e5e8ea;
    width: 100%;
    text-align: center;
    padding: 96px 0px 120px 0px;
}
.block4 h2{
    margin-bottom: 16px;
}
.block4 h3{
    color: #6C757D;
    margin-bottom: 64px;
}
.block4 .container{
    width: 1320px;
    margin: auto;
    overflow: hidden;
}
.block4 .container .card{
    width: 440px;
    padding: 0px 12px 0px 12px;
    float: left;
}
.block4 .container .card .cardbig{
    width: 100%;
}
.block4 .container .card .cardbig .small{
   width: 230px;
   height: 230px;
   border: 8px solid #cdd1d3;
   border-radius: 100%;
   margin: auto;
}
.small img{
    width: 100%;
    border-radius: 100%;
}
.cardbig h4{
    font-size: 24px;
    margin-top: 24px;
}
.cardbig p{
    font-size: 16px;
    margin-bottom: 30px;
    color: #6C757D;
}


.block5{
    background-color: #FFFFFF;
    width: 100%;
}
.block5 .auto{
    width: 1320px;
    margin: auto;
}
.block5 .auto .long{
    width: 330px;
    float: left;
    padding: 52px;
}
.long img{
    width: 270px;
    height: 50px;
    padding-left: 50px;
    text-align: center;
}


.block6{
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 96px 0px 96px 0px;
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.block6 h2{
    font-size: 40px;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.block6 h3{
    color: #6C757D;
    font-size: 16px;
    margin-bottom: 64px;
}
.block6 .contact{
    width: 1320px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
}
.block6 .contact .left{
    width: 660px;
    padding: 12px 12px 1px 12px ;
    float: left;
}
.left input{
    width: 100%;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 0px solid;
}
.block6 .contact .right{
    width: 660px;
    padding: 12px 12px 21px 12px;
    float: left;
}
.right textarea{
    width: 100%;
    padding: 25px;
    border-radius: 5px;
}
.contact .btn{
    margin: auto;
    width: 300px;
    overflow: hidden;
    
}
.btn button{
    padding: 25px 35px;
    background-color: #FFC800;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: 0px solid;
    border-radius: 8px;
}


.footer{
    width: 100%;
    padding: 34px;
    overflow: hidden;
}
#a1{
    color: #6C757D;
    float: left;    
    font-size: 18px;
    padding-left: 70px;
}
#a2{
    color: #6C757D;
    float:right;
    font-size: 18px;
    padding-right: 70px;
}